<%@ Master Language="C#" AutoEventWireup="true" CodeFile="CIPL.master.cs" Inherits="CIPL" %>

<%@ Register Assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
    Namespace="System.Web.UI" TagPrefix="asp" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>CIPL</title>
    <link href="" rel="stylesheet" type="text/css" />
    <style>
        ul.breadcrumb {
            margin: 0px;
            padding: 0px;
            list-style: none;
            display: flex;
            gap: 10px;
            position: relative;
            background: #efefef;
            padding: 10px;
        }

        .hideondesktop {
            display: none;
        }

        ul.list.pl0 {
            padding: 10px;
            list-style: none;
            background: #efefef;
        }

        .drop-container:hover .drop {
            display: block;
        }

        .drop-container .drop {
            display: none;
            top: 41px;
            position: absolute;
        }

            .drop-container .drop a {
                display: block;
                color: #000000;
                font-size: 12px;
                text-decoration: none;
            }

        @media screen and (max-width: 1023px) {
            .hideonmobile {
                display: none;
            }

            .hideondesktop {
                display: block;
            }
        }
    </style>
    <script language="JavaScript">
        function abc() {
            //alert("abc");
            //alert(document.getElementById("ctl00_hdnAccessAllowed").value);
            
            if (document.getElementById("ctl00_hdnAccessAllowed").value == "1") {
                document.getElementById("hideshowmenu").style.visibility = "visible";
                document.getElementById("hideshowmenu1").style.visibility = "hidden";
            }
            else {
                document.getElementById("hideshowmenu").style.visibility = "hidden";
                document.getElementById("hideshowmenu1").style.visibility = "visible";
                
            }
        }
    </script>
</head>
<body style="text-align: left" onload="JavaScript:abc();">
    <form id="form1" runat="server" >
        <asp:HiddenField ID="hdnAccessAllowed" runat="server" />
        <asp:ScriptManager ID="ScriptManager2" runat="server">
        </asp:ScriptManager>
        <center>
            <table style="width: 100%">
                <tr>
                    <td align="right" bgcolor="#cccccc" style="height: 16px; font-family: Verdana; font-size: 8pt">
                        <a href="https://insta.carzonrent.com/index/index.asp" style="cursor: pointer;"><b>Back
                            to Insta</b></a>
                    </td>
                    <td align="right" bgcolor="#cccccc" style="height: 16px; font-family: Verdana; font-size: 8pt">
                        <a href="https://insta.carzonrent.com/login.asp"><b>Logout</b></a>
                        
                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <table style="width: 100%">
                            <tr>
                                <td style="width: 850px;" class="hideondesktop">
                                    <div class="grid">
                                        <div class="container">
                                            <ul class="breadcrumb">
                                                <li class="active relative drop-container">
                                                    <span href="#">Home<span class="glyphicon glyphicon-triangle-bottom small" aria-hidden="true"><img src="/Retail/WebResource.axd?d=gtPwIqSyd06QrqwdXKZUFsBqeNSCKyeOxC7MxLIfiLuaYbs16snrc7T0ehiYYj2gPh5ef6p8Wt77T-hSnus_ac_mH1rOflFEr_2It2QxOP41&amp;t=638259564740000000" alt="Expand Report" style="border-style: none; vertical-align: middle;"></span></span>
                                                    <div class="drop bg-white">
                                                        <ul class="list pl0">
                                                            <li><a href="RetailBooking.aspx">Retail Booking</a></li>
                                                            <li><a href="HandOver_Detail.aspx">Hand Over</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li class="active relative drop-container">
                                                    <span href="#">Report<span class="glyphicon glyphicon-triangle-bottom small" aria-hidden="true"><img src="https://insta.carzonrent.com/Retail/WebResource.axd?d=gtPwIqSyd06QrqwdXKZUFsBqeNSCKyeOxC7MxLIfiLuaYbs16snrc7T0ehiYYj2gPh5ef6p8Wt77T-hSnus_ac_mH1rOflFEr_2It2QxOP41&t=638259564740000000" alt="Expand Report" style="border-style: none; vertical-align: middle;"></span></span>
                                                    <div class="drop bg-white">
                                                        <ul class="list pl0">
                                                            <li><a href="RptRetailBookings.aspx">Retail Bookings</a></li>
                                                            <li><a href="BWAirportSubmission.aspx">Branch Wise Airport Submission</a></li>
                                                            <li><a href="RptDateWiseSummary.aspx">Date Wise Summary</a></li>
                                                            <li><a href="HandOverReport.aspx">Hand Over Report</a></li>
                                                            <li><a href="GetLatLon.aspx">Get Travel Distance</a></li>
                                                            <li><a href="PostData.aspx">Post Data</a></li>
                                                            <li><a href="CCTVPostData.aspx">CCTV Post Data</a></li>
                                                            <li><a href="AllocateCar.aspx">Allocate Data</a></li>
                                                        </ul>
                                                    </div>

                                                    
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                                <td style="width: 853px;" class="hideonmobile">
                                    <asp:ContentPlaceHolder ID="cphMenu" runat="server">
                                        <table style="width: 200px; border: solid 1px black">
                                            <tr>
                                                <td id="hideshowmenu" style="visibility:hidden;">
                                                    <asp:Menu ID="Menu1" runat="server" Orientation="Horizontal" Width="17px" BackColor="#F7F6F3"
                                                        DynamicHorizontalOffset="2" Font-Names="Verdana" Font-Size="0.8em" ForeColor="#7C6F57"
                                                        StaticSubMenuIndent="10px">
                                                        <Items>
                                                            <asp:MenuItem Text="Booking" Value="Booking">
                                                                <asp:MenuItem Text="Retail Booking" Value="Retail Booking" NavigateUrl="~/RetailBooking.aspx"></asp:MenuItem>
                                                                <asp:MenuItem Text="Hand Over" Value="Hand Over" NavigateUrl="~/HandOver_Detail.aspx"></asp:MenuItem>
                                                            </asp:MenuItem>
                                                            <asp:MenuItem Text="Report" Value="Report">
                                                                <asp:MenuItem NavigateUrl="~/RptRetailBookings.aspx" Text="Retail Bookings" Value="Retail Bookings"></asp:MenuItem>
                                                                <asp:MenuItem NavigateUrl="~/BWAirportSubmission.aspx" Text="Branch Wise Airport Submission"
                                                                    Value="Branch Wise Airport Submission"></asp:MenuItem>
                                                                <asp:MenuItem NavigateUrl="~/RptDateWiseSummary.aspx" Text="Date Wise Summary" Value="Date Wise Summary"></asp:MenuItem>
                                                                <asp:MenuItem NavigateUrl="~/HandOverReport.aspx" Text="Hand Over Report" Value="Hand Over Report"></asp:MenuItem>
                                                                <asp:MenuItem NavigateUrl="~/GetLatLon.aspx" Text="Get Travel Distance" Value="Get Travel Distance"></asp:MenuItem>
                                                                <%--<asp:MenuItem NavigateUrl="~/PostData.aspx" Text="Post Data" Value="Post Data"></asp:MenuItem>
                                                                <asp:MenuItem NavigateUrl="~/CCTVPostData.aspx" Text="CCTV Post Data" Value="CCTV Post Data"></asp:MenuItem>--%>
                                                                <asp:MenuItem NavigateUrl="~/AllocateCar.aspx" Text="Allocate Car" Value="Allocate Car"></asp:MenuItem>
                                                            </asp:MenuItem>
                                                        </Items>
                                                        <StaticSelectedStyle BackColor="#F7F6F3" />
                                                        <StaticMenuItemStyle HorizontalPadding="5px" VerticalPadding="2px" />
                                                        <DynamicHoverStyle BackColor="#7C6F57" ForeColor="White" />
                                                        <DynamicMenuStyle BackColor="#F7F6F3" />
                                                        <DynamicSelectedStyle BackColor="#F7F6F3" />
                                                        <DynamicMenuItemStyle HorizontalPadding="5px" VerticalPadding="2px" />
                                                        <StaticHoverStyle BackColor="#7C6F57" ForeColor="White" />
                                                    </asp:Menu>
                                                </td>
                                                <td id="hideshowmenu1" style="visibility:visible;">
                                                    <asp:Menu ID="Menu2" runat="server" Orientation="Horizontal" Width="17px" BackColor="#F7F6F3"
                                                        DynamicHorizontalOffset="2" Font-Names="Verdana" Font-Size="0.8em" ForeColor="#7C6F57"
                                                        StaticSubMenuIndent="10px">
                                                        <Items>
                                                            <asp:MenuItem Text="Booking" Value="Booking">
                                                                <asp:MenuItem Text="Retail Booking" Value="Retail Booking" NavigateUrl="~/RetailBooking.aspx"></asp:MenuItem>
                                                                <asp:MenuItem Text="Hand Over" Value="Hand Over" NavigateUrl="~/HandOver_Detail.aspx"></asp:MenuItem>
                                                            </asp:MenuItem>
                                                            <asp:MenuItem Text="Report" Value="Report">
                                                                <asp:MenuItem NavigateUrl="~/GetLatLon.aspx" Text="Get Travel Distance" Value="Get Travel Distance"></asp:MenuItem>
                                                                <asp:MenuItem NavigateUrl="~/AllocateCar.aspx" Text="Allocate Car" Value="Allocate Car"></asp:MenuItem>
                                                            </asp:MenuItem>
                                                        </Items>
                                                        <StaticSelectedStyle BackColor="#F7F6F3" />
                                                        <StaticMenuItemStyle HorizontalPadding="5px" VerticalPadding="2px" />
                                                        <DynamicHoverStyle BackColor="#7C6F57" ForeColor="White" />
                                                        <DynamicMenuStyle BackColor="#F7F6F3" />
                                                        <DynamicSelectedStyle BackColor="#F7F6F3" />
                                                        <DynamicMenuItemStyle HorizontalPadding="5px" VerticalPadding="2px" />
                                                        <StaticHoverStyle BackColor="#7C6F57" ForeColor="White" />
                                                    </asp:Menu>
                                                </td>
                                            </tr>
                                        </table>
                                    </asp:ContentPlaceHolder>
                                </td>

                                <td style="vertical-align: top;">
                                    <img src="https://corapi.carzonrent.com/CorMeterGoogleAPI/images/CarzonrentLogo.png" alt="" /></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <asp:ContentPlaceHolder ID="cphPage" runat="server">
                        </asp:ContentPlaceHolder>
                    </td>
                </tr>
            </table>
        </center>
    </form>
</body>
</html>