<%@ Page Language="C#" MasterPageFile="~/CIPL.master" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" Title="Untitled Page" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cphPage" runat="Server">
    <table>
        <tr>
            <td style="width: 589px; text-align: center; padding-top: 100px">
                <span style="font-size: 20px; font-family: Verdana">
                    <strong>Retail Module (Version 1.1)</strong>
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <span style="font-size: 20px; font-family: Verdana">
                    <strong>Welcome</strong>
                </span>
            </td>
        </tr>
    </table>
</asp:Content>