﻿.pgConteng
{
	font-size: 10pt;
	color: black;
	font-family: Verdana, Arial, Monospace;
	text-decoration: none;
}
TABLE {
	FONT-SIZE: 8pt; COLOR: #000000; LINE-HEIGHT: 16pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.txtBox
{
	font-family:Verdana;
	font-size:x-small;
	height:10px}

.pgHeading{font-family:Verdana;
	font-size:20pt;
	font-weight:normal;
	color:Olive;
	height:30px}	
